<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MiniBot</title>
    </head>
    <body>
        <center>
            <h1>MiniBot: The Prototype</h1>
        </center>
        <div>
            <p>
                <center><span>Hi! I'm Minibot -- Come chat with me!</span></center>
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="What's up?" />
        </div>
    </body>
</html>