<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MiniBot</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <center>
            <h1>MiniBot: The Prototype</h1>
        </center>
        <div>
            <p>
                <center><span>Hi! I'm Minibot -- Come chat with me!</span></center>
            </p>
        </div>
        <div id="chatbox"></div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="What's up?" />
            <div class="github-link">
                <a href="https://www.github.com/hschafer2017/MiniBot" target="_blank"><i class="fab fa-github alignment"></i></a>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>